
.on-middle{
	height: 100vh;
	display: flex;
	align-items: center;
	justify-content: center;
}

.votacao {
  list-style: none;
  margin: 0;
  padding: 0;
}

.votacao:after {
  content: "";
  clear: both;
}

.opcao {
  border: 1.5px solid #ccc;
  box-sizing: border-box;
  float: top;
  height: 250px;
  position: relative;
  width: 250px;
  margin-left: auto;
  margin-right: auto;
  display: block;
}


.opcao label {
  background: #fff no-repeat center center;
  bottom: 1px;
  cursor: pointer;
  display: block;
  font-size: 0;
  left: 1px;
  position: absolute;
  right: 1px;
  text-indent: 100%;
  top: 1px;
  white-space: nowrap;
}

.votacao input:checked + label {
  outline: 8px solid #2dbd26;
}

.form-style{
	width: 250px;
	padding-left: 200px;
	padding-right: 200px;
	padding-top: 20px;
	padding-bottom: 20px;
	outline: 7px solid #e6000a;
  border: 9px solid #014200;
	color: #014200;
	font-size: 20px;
	font-family: "Comic Sans MS";
	text-align: center;
}


input[type=submit]{
  background-color: #e6000a;
  border: none;
  color: white;
  padding: 20px 36px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  cursor: pointer;
}

input[type=submit]:hover{
  background-color: #8c0006;
}

.foto_expotec{
  position: fixed;
}


.estatisticas{
  font-family: "Comic Sans MS";
  font-size : 20px;
  text-align: center;
}

.candidato{
  outline: 2px solid #e6000a;
  border: 4px solid #014200;
  width: 60%;
  margin-left: 20%;
}

.estatisticas img{
  display: block;
  margin-left: auto;
  margin-right: auto;
  height: 150px;
  width: 150px;
}

button{
  position: fixed;
  right: 10px;
  background-color: #2dbd26;
  border: none;
  color: white;
  padding: 20px 36px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  cursor: pointer;
}

button:hover{
  background-color: #2fa629;
}

::-webkit-scrollbar {
  width: 18px;
}

::-webkit-scrollbar-track {
  background: #f1f1f1; 
}

::-webkit-scrollbar-thumb {
  background: #888; 
}

::-webkit-scrollbar-thumb:hover {
  background: #555; 
}